.noticeTop {
  .headerWrapper {
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    background-color: #fff;
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .innerLeft {
      @media screen and(max-width:900px) {
        display: none;
      }
    }
    .innerLeftSp {
      display: none;
      @media screen and(max-width:900px) {
        display: block;
        .nav__sp {
          background-color: #fff;
          position: fixed;
          width: 200px;
          top: 0;
          bottom: 0;
          left: -250px;
          padding: 40px 16px 0 16px;
          transition: 0.4s;
          .hamuburgerNav__text {
            text-align: center;
            .hamuburgerNav__logo {
              width: 150px;
              text-align: center;
              margin: 64px auto 0;
            }
            .hamuburgerNav__item {
              margin-top: 40px;
              width: 150px;
              display: inline-block;
              text-align: center;
            }
            @media screen and(max-width:964px) {
            }
          }
        }
      }
      .fadein {
        transform: translateX(250px);
        z-index: 5;
        opacity: 1;
        transition: 0.4s;
      }
      .target {
        width: 30px;
        height: 30px;
        position: fixed;
        top: 25px;
        left: 30px;
        cursor: pointer;
        z-index: 12;
        .target__inner {
          .target__inner__line {
            @media screen and(max-width:964px) {
              position: fixed;
              width: 30px;
              height: 3px;
              background-color: #1b224c;
            }
          }
          .target__inner__1 {
            @media screen and(max-width:964px) {
              top: 27px;
              left: 30px;
            }
          }
          .target__inner__2 {
            @media screen and(max-width:964px) {
              top: 38px;
              left: 30px;
            }
          }
          .target__inner__3 {
            @media screen and(max-width:964px) {
              top: 49px;
              left: 30px;
            }
          }
          .linea {
            transform: rotate(45deg);
            top: 38px;
          }
          .lineb {
            opacity: 0;
          }
          .linec {
            transform: rotate(-45deg);
            top: 38px;
          }
        }
        .slidex {
          z-index: 20;
        }
      }
    }
  }
  .headerWrapperInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    .headerNav__item {
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .headerWrapper__logo {
    margin-right: 30px;
  }

  .innerRight {
    margin-right: 30px;
    padding-bottom: 15px;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;

    .headerInfo {
      vertical-align: bottom;
      height: 50px;
      margin-right: 25px;
      text-align: right;
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      .headerInfo__openingTime {
        font-size: 1.2rem;
      }
      .headerInfo__tel {
        font-size: 1.6rem;
        font-weight: bold;
        .tel-icon {
          margin-right: 3px;
          margin-bottom: 3px;
        }
      }
    }
    .headerBtnWrapper {
      display: flex;
      @media screen and(max-width:450px) {
        display: block;
        padding-top: 8px;
      }
      .btn__square {
        margin-right: 10px;
        @media screen and(max-width:450px) {
          margin-top: 8px;
          margin-right: 0;
          text-align: center;
        }
      }
      .btn__square:last-child {
        margin-right: 0;
      }
    }
  }

  .noticeTop__img {
    margin-top: 80px;
    position: relative;
    .subPage__title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .noticeTop__img--s {
      width: 100%;
      height: 220px;
      object-fit: cover;
    }
  }
  .breadcrumbs {
    height: 50px;
    background-color: #f8f8f8;
    padding-left: 190px;
    padding-top: 25px;
    @media screen and(max-width:1000px) {
      padding-left: 32px;
    }
  }
}
