@charset "UTF-8";
/* ==========ここからリセットCSS============= */
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
  /* Document */
  /* ============================================ */
  /**
         * 1. Correct the line height in all browsers.
         * 2. Prevent adjustments of font size after orientation changes in iOS.
         * 3. Remove gray overlay on links for iOS.
         */
  /* Sections */
  /* ============================================ */
  /**
         * Remove the margin in all browsers.
         */
  /**
         * Render the `main` element consistently in IE.
         */
  /* Vertical rhythm */
  /* ============================================ */
  /* Headings */
  /* ============================================ */
  /* Lists (enumeration) */
  /* ============================================ */
  /* Lists (definition) */
  /* ============================================ */
  /* Grouping content */
  /* ============================================ */
  /**
         * 1. Add the correct box sizing in Firefox.
         * 2. Show the overflow in Edge and IE.
         */
  /**
         * 1. Correct the inheritance and scaling of font size in all browsers.
         * 2. Correct the odd `em` font sizing in all browsers.
         */
  /* Text-level semantics */
  /* ============================================ */
  /**
         * Remove the gray background on active links in IE 10.
         */
  /**
         * 1. Remove the bottom border in Chrome 57-
         * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
         */
  /**
         * Add the correct font weight in Chrome, Edge, and Safari.
         */
  /**
         * 1. Correct the inheritance and scaling of font size in all browsers.
         * 2. Correct the odd `em` font sizing in all browsers.
         */
  /**
         * Add the correct font size in all browsers.
         */
  /**
         * Prevent `sub` and `sup` elements from affecting the line height in
         * all browsers.
         */
  /* Embedded content */
  /* ============================================ */
  /**
         * Prevent vertical alignment issues.
         */
  /* Forms */
  /* ============================================ */
  /**
         * Reset form fields to make them styleable
         */
  /**
         * Reset radio and checkbox appearance to preserve their look in iOS.
         */
  /**
         * Show the overflow in IE.
         * 1. Show the overflow in Edge.
         */
  /**
         * Remove the inheritance of text transform in Edge, Firefox, and IE.
         * 1. Remove the inheritance of text transform in Firefox.
         */
  /**
         * Correct the inability to style clickable types in iOS and Safari.
         */
  /**
         * Remove the inner border and padding in Firefox.
         */
  /**
         * Restore the focus styles unset by the previous rule.
         */
  /**
         * Remove arrow in IE10 & IE11
         */
  /**
         * Remove padding
         */
  /**
         * Reset to invisible
         */
  /**
         * 1. Correct the text wrapping in Edge and IE.
         * 2. Correct the color inheritance from `fieldset` elements in IE.
         * 3. Remove the padding so developers are not caught out when they zero out
         *    `fieldset` elements in all browsers.
         */
  /**
         * Add the correct vertical alignment in Chrome, Firefox, and Opera.
         */
  /**
         * Remove the default vertical scrollbar in IE 10+.
         */
  /**
         * Correct the cursor style of increment and decrement buttons in Chrome.
         */
  /**
         * 1. Correct the outline style in Safari.
         */
  /**
         * Remove the inner padding in Chrome and Safari on macOS.
         */
  /**
         * 1. Correct the inability to style clickable types in iOS and Safari.
         * 2. Change font properties to `inherit` in Safari.
         */
  /**
         * Clickable labels
         */
  /* Interactive */
  /* ============================================ */
  /*
         * Add the correct display in Edge, IE 10+, and Firefox.
         */
  /*
         * Add the correct display in all browsers.
         */
  /*
         * Remove outline for editable content.
         */
  /* Table */
  /* ============================================ */
  /* Misc */
  /* ============================================ */
  /**
         * Add the correct display in IE 10+.
         */
  /**
         * Add the correct display in IE 10.
         */
}

html ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

html body {
  margin: 0;
}

html main {
  display: block;
}

html p,
html table,
html blockquote,
html address,
html pre,
html iframe,
html form,
html figure,
html dl {
  margin: 0;
}

html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

html ul,
html ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

html dt {
  font-weight: bold;
}

html dd {
  margin-left: 0;
}

html hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

html pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

html address {
  font-style: inherit;
}

html a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

html abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

html b,
html strong {
  font-weight: bolder;
}

html code,
html kbd,
html samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

html small {
  font-size: 80%;
}

html sub,
html sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

html sub {
  bottom: -0.25em;
}

html sup {
  top: -0.5em;
}

html img,
html embed,
html object,
html iframe {
  vertical-align: bottom;
}

html button,
html input,
html optgroup,
html select,
html textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

html [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

html [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

html button,
html input {
  /* 1 */
  overflow: visible;
}

html button,
html select {
  /* 1 */
  text-transform: none;
}

html button,
html [type="button"],
html [type="reset"],
html [type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

html button[disabled],
html [type="button"][disabled],
html [type="reset"][disabled],
html [type="submit"][disabled] {
  cursor: default;
}

html button::-moz-focus-inner,
html [type="button"]::-moz-focus-inner,
html [type="reset"]::-moz-focus-inner,
html [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

html button:-moz-focusring,
html [type="button"]:-moz-focusring,
html [type="reset"]:-moz-focusring,
html [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

html select::-ms-expand {
  display: none;
}

html option {
  padding: 0;
}

html fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

html legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

html progress {
  vertical-align: baseline;
}

html textarea {
  overflow: auto;
}

html [type="number"]::-webkit-inner-spin-button,
html [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

html [type="search"] {
  outline-offset: -2px;
  /* 1 */
}

html [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

html ::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

html label[for] {
  cursor: pointer;
}

html details {
  display: block;
}

html summary {
  display: list-item;
}

html [contenteditable] {
  outline: none;
}

html table {
  border-collapse: collapse;
  border-spacing: 0;
}

html caption {
  text-align: left;
}

html td,
html th {
  vertical-align: top;
  padding: 0;
}

html th {
  text-align: left;
  font-weight: bold;
}

html template {
  display: none;
}

html [hidden] {
  display: none;
}

html {
  font-size: 62.5%;
}

html body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 1.6rem;
}

html body h1 {
  font-size: 4.8rem;
  font-weight: bold;
  color: #fff;
}

@media screen and (max-width: 375px) {
  html body h1 {
    font-size: 3.8rem;
  }
}

html body .h2__title--blue {
  font-size: 3.6rem;
  font-weight: bold;
  color: #1b224c;
  text-align: center;
  line-height: 50px;
}

@media screen and (max-width: 375px) {
  html body .h2__title--blue {
    font-size: 2.4rem;
  }
}

html body .h2__title--white {
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  color: #fff;
}

@media screen and (max-width: 375px) {
  html body .h2__title--white {
    font-size: 2.4rem;
  }
}

html body .btn--yellow {
  background-color: #f5a623;
}

html body .btn--blue {
  background-color: #1b224c;
}

html body .btn__square {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  padding: 0.8rem 1rem 0.8rem 1rem;
  margin-right: 10px;
}

html body .btn__round {
  display: block;
  line-height: 60px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  border-radius: 60px;
  max-width: 300px;
  margin: 0 auto;
}

html body .badge--yellow {
  display: inline-block;
  color: #fff;
  background-color: #f5a623;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
}

@media screen and (max-width: 530px) {
  html body .pc__br {
    display: none;
  }
}

html body #mask {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(172, 169, 169, 0.842);
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

html body .mask {
  opacity: 1 !important;
  z-index: 3 !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.firstView {
  position: relative;
  color: #1b224c;
}

.firstView .headerWrapper {
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  background-color: #fff;
  height: 80px;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 900px) {
  .firstView .headerWrapper .innerLeft {
    display: none;
  }
}

.firstView .headerWrapper .innerLeftSp {
  display: none;
}

@media screen and (max-width: 900px) {
  .firstView .headerWrapper .innerLeftSp {
    display: block;
  }
  .firstView .headerWrapper .innerLeftSp .nav__sp {
    background-color: #fff;
    position: fixed;
    width: 200px;
    top: 0;
    bottom: 0;
    left: -250px;
    padding: 40px 16px 0 16px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .firstView .headerWrapper .innerLeftSp .nav__sp .hamuburgerNav__text {
    text-align: center;
  }
  .firstView .headerWrapper .innerLeftSp .nav__sp .hamuburgerNav__text .hamuburgerNav__logo {
    width: 150px;
    text-align: center;
    margin: 64px auto 0;
  }
  .firstView .headerWrapper .innerLeftSp .nav__sp .hamuburgerNav__text .hamuburgerNav__item {
    margin-top: 40px;
    width: 150px;
    display: inline-block;
    text-align: center;
  }
}

.firstView .headerWrapper .innerLeftSp .fadein {
  -webkit-transform: translateX(250px);
  transform: taranslateX(250px);
  z-index: 5;
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.firstView .headerWrapper .innerLeftSp .target {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 25px;
  left: 30px;
  cursor: pointer;
  z-index: 12;
}

@media screen and (max-width: 964px) {
  .firstView .headerWrapper .innerLeftSp .target .target__inner .target__inner__line {
    position: fixed;
    width: 30px;
    height: 3px;
    background-color: #1b224c;
  }
}

@media screen and (max-width: 964px) {
  .firstView .headerWrapper .innerLeftSp .target .target__inner .target__inner__1 {
    top: 27px;
    left: 30px;
  }
}

@media screen and (max-width: 964px) {
  .firstView .headerWrapper .innerLeftSp .target .target__inner .target__inner__2 {
    top: 38px;
    left: 30px;
  }
}

@media screen and (max-width: 964px) {
  .firstView .headerWrapper .innerLeftSp .target .target__inner .target__inner__3 {
    top: 49px;
    left: 30px;
  }
}

.firstView .headerWrapper .innerLeftSp .target .target__inner .linea {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 38px;
}

.firstView .headerWrapper .innerLeftSp .target .target__inner .lineb {
  opacity: 0;
}

.firstView .headerWrapper .innerLeftSp .target .target__inner .linec {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 38px;
}

.firstView .headerWrapper .innerLeftSp .target .slidex {
  z-index: 20;
}

.firstView .headerWrapperInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.firstView .headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.firstView .headerNav .headerNav__item {
  margin-right: 40px;
}

.firstView .headerNav .headerNav__item:last-child {
  margin-right: 0;
}

.firstView .headerWrapper__logo {
  margin-right: 30px;
}

.firstView .innerRight {
  padding-bottom: 15px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.firstView .innerRight .headerInfo {
  vertical-align: bottom;
  height: 50px;
  margin-right: 25px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.firstView .innerRight .headerInfo .headerInfo__openingTime {
  font-size: 1.2rem;
}

.firstView .innerRight .headerInfo .headerInfo__tel {
  font-size: 1.6rem;
  font-weight: bold;
}

.firstView .innerRight .headerInfo .headerInfo__tel .tel-icon {
  margin-right: 3px;
  margin-bottom: 3px;
}

.firstView .innerRight .headerBtnWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 450px) {
  .firstView .innerRight .headerBtnWrapper {
    display: block;
    padding-top: 8px;
  }
}

@media screen and (max-width: 450px) {
  .firstView .innerRight .headerBtnWrapper .btn__square {
    margin-top: 8px;
    text-align: center;
  }
}

.firstView .innerRight .headerBtnWrapper .btn__square:last-child {
  margin-right: 0;
}

.firstView .firstViewInner {
  margin-top: 80px;
  position: relative;
}

.firstView .firstViewInner .topImg {
  height: 476px;
}

.firstView .firstViewInner .topImg .topImg__item {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.firstView .firstViewInner .firstViewText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

@media screen and (max-width: 450px) {
  .firstView .firstViewInner .firstViewText {
    padding-bottom: 16px;
  }
}

.firstView .firstViewInner .firstViewText .firstViewText__title {
  margin-bottom: 20px;
  line-height: 65px;
}

.firstView .firstViewInner .firstViewText .firstViewText__subtitle {
  font-size: 1.8rem;
  color: #fff;
  line-height: 24px;
  margin-bottom: 55px;
}

.firstView .firstViewInner .firstViewText .btn__round {
  margin-bottom: 20px;
}

.firstView .firstViewInner .firstViewText .firstViewText__toContact {
  font-size: 1.6rem;
  line-height: 21px;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.issue {
  background-color: #1b224c;
  color: #fff;
  text-align: center;
  padding: 64px 32px 54px 32px;
}

.issue .issueInner .issueInner__contents {
  margin: 54px auto 0;
  max-width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 530px) {
  .issue .issueInner .issueInner__contents {
    display: block;
  }
}

.issue .issueInner .issueInner__contents .contents__item {
  line-height: 39px;
}

@media screen and (max-width: 530px) {
  .issue .issueInner .issueInner__contents .contents__item {
    margin-top: 32px;
  }
}

.issue .issueInner .about {
  margin: 64px auto 0;
  max-width: 900px;
  padding: 16px;
  background-color: #fff;
}

.issue .issueInner .about .aboutInner {
  margin: 0 auto;
  max-width: 860px;
  border: 4px solid #1b224c;
  padding: 0 16px 32px 16px;
}

.issue .issueInner .about .aboutInner .about__title {
  color: #1b224c;
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 50px;
}

.issue .issueInner .about .aboutInner .border--yellow {
  max-width: 500px;
  height: 8px;
  background-color: #f5a623;
  margin: 0 auto;
}

.issue .issueInner .about .aboutInner .about__text {
  color: #1b224c;
  margin-top: 34px;
  font-size: 1.8rem;
  line-height: 24px;
}

.strongPoint {
  padding: 60px 32px 0 32px;
}

.strongPoint .strongPoint__inner {
  max-width: 900px;
  margin: 0 auto;
}

.strongPoint .strongPoint__inner .strongPoint__title {
  margin-bottom: 40px;
}

.strongPoint .strongPoint__inner .strongPoint__contents .media__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

@media screen and (max-width: 700px) {
  .strongPoint .strongPoint__inner .strongPoint__contents .media__item {
    display: block;
  }
}

.strongPoint .strongPoint__inner .strongPoint__contents .media__item:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.strongPoint .strongPoint__inner .strongPoint__contents .media__item:last-child {
  margin-bottom: 0;
}

.strongPoint .strongPoint__inner .strongPoint__contents .media__item .item__img {
  max-width: 350px;
  max-height: 240px;
  margin-right: 50px;
}

@media screen and (max-width: 900px) {
  .strongPoint .strongPoint__inner .strongPoint__contents .media__item .item__img {
    max-width: 300px;
  }
}

@media screen and (max-width: 375px) {
  .strongPoint .strongPoint__inner .strongPoint__contents .media__item .item__img {
    margin-right: 0;
  }
}

@media screen and (max-width: 700px) {
  .strongPoint .strongPoint__inner .strongPoint__contents .media__item .item__img {
    margin: 0 auto;
  }
}

.strongPoint .strongPoint__inner .strongPoint__contents .media__item .item__img .item__img--s {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.strongPoint .strongPoint__inner .strongPoint__contents .media__item .media__contents {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 700px) {
  .strongPoint .strongPoint__inner .strongPoint__contents .media__item .media__contents {
    margin-right: 0;
    margin-top: 32px;
  }
}

.strongPoint .strongPoint__inner .strongPoint__contents .item__title {
  font-size: 2.6rem;
  line-height: 39px;
  font-weight: bold;
  color: #1b224c;
  margin-top: 40px;
}

@media screen and (max-width: 900px) {
  .strongPoint .strongPoint__inner .strongPoint__contents .item__title {
    margin-top: 20px;
  }
}

.strongPoint .strongPoint__inner .strongPoint__contents .item__text {
  font-size: 1.6rem;
  line-height: 21px;
  color: #1b224c;
  margin-top: 32px;
}

@media screen and (max-width: 900px) {
  .strongPoint .strongPoint__inner .strongPoint__contents .item__text {
    margin-top: 16px;
  }
}

.strongPoint .strongPoint__inner .strongPoint__contents .mr--none {
  margin-right: 0;
}

.toPrice {
  padding: 90px 32px 40px 32px;
  text-align: center;
}

.toPrice .toPrice__img {
  overflow-x: hidden;
  position: relative;
}

.toPrice .toPrice__img .toPrice__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.toPrice .toPrice__img .toPrice__contents {
  text-align: center;
}

@media screen and (max-width: 375px) {
  .toPrice .toPrice__img .toPrice__contents {
    width: 240px;
  }
}

.toPrice .toPrice__img .toPrice__contents .contents__text {
  font-size: 2.6rem;
  line-height: 39px;
  color: #fff;
  text-align: center;
}

.toPrice .toPrice__img .toPrice__contents .contents__btn {
  display: inline-block;
  line-height: 40px;
  border: 1px solid #fff;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 28px;
}

.successCase {
  padding: 64px 16px 60px 16px;
  background-color: #1b224c;
  text-align: center;
}

.successCase .successCase__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 900px;
  margin: 126px auto 0;
}

@media screen and (max-width: 900px) {
  .successCase .successCase__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 64px;
  }
}

.successCase .successCase__cards .card__item {
  max-width: 280px;
}

@media screen and (max-width: 900px) {
  .successCase .successCase__cards .card__item {
    margin-right: 8px;
    margin-top: 32px;
  }
}

.successCase .successCase__cards .card__item:last-child {
  margin-right: 0;
}

.successCase .successCase__cards .card__item .item__title {
  color: #fff;
  font-weight: bold;
  text-align: left;
  line-height: 29px;
}

.successCase .successCase__cards .card__item .item__imgFrame {
  background-color: #fff;
  height: 140px;
}

.successCase .successCase__cards .card__item .item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 16px;
}

.successCase .successCase__cards .card__item .item__text .text__job {
  width: 80px;
  margin-right: 8px;
}

.successCase .successCase__cards .card__item .item__text .text__name {
  width: 152px;
}

.successCase .successCase__cards .card__item .item__text .card__text {
  background-color: #fff;
  color: #1b224c;
  line-height: 32px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.successCase .successCase__cards .card__item .item__text .text__case {
  margin-top: 10px;
  width: 260px;
}

.flow {
  padding: 60px 32px 0 32px;
  margin: 0 auto;
  max-width: 900px;
}

.flow .flowInner .flow__contents {
  margin-top: 42px;
  border-spacing: 0 8px;
}

.flow .flowInner .flow__contents .contents__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f8f8;
  margin-bottom: 8px;
}

@media screen and (max-width: 650px) {
  .flow .flowInner .flow__contents .contents__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: block;
  }
}

.flow .flowInner .flow__contents .contents__item:last-child {
  margin-bottom: 8px;
}

.flow .flowInner .flow__contents .contents__item .sp__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 650px) {
  .flow .flowInner .flow__contents .contents__item .sp__top {
    border-bottom: 1px solid #d5d5d5;
  }
}

.flow .flowInner .flow__contents .contents__item .item__num {
  background-color: #f5a623;
  width: 64px;
  text-align: center;
  line-height: 64px;
}

.flow .flowInner .flow__contents .contents__item .item__subTitle {
  position: relative;
  width: 214px;
  padding-left: 20px;
  line-height: 64px;
}

.flow .flowInner .flow__contents .contents__item .item__subTitle::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 16px;
  right: 5px;
  width: 2px;
  height: 32px;
  background-color: #d5d5d5;
}

@media screen and (max-width: 650px) {
  .flow .flowInner .flow__contents .contents__item .item__subTitle::after {
    display: none;
  }
}

.flow .flowInner .flow__contents .contents__item .sp__bottom {
  padding-left: 56px;
  padding-right: 16px;
  min-width: 180px;
  background-color: #f8f8f8;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 650px) {
  .flow .flowInner .flow__contents .contents__item .sp__bottom {
    padding-left: 16px;
    height: 64px;
    position: relative;
  }
}

.flow .flowInner .flow__contents .contents__item .sp__bottom .item__text {
  padding-right: 16px;
}

@media screen and (max-width: 650px) {
  .flow .flowInner .flow__contents .contents__item .sp__bottom .item__text {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.qa {
  padding: 74px 32px 0 32px;
}

.qa .qaInner {
  max-width: 900px;
  margin: 0 auto;
}

.qa .qaInner .qa__acordion {
  margin-top: 25px;
}

.qa .qaInner .qa__acordion .acordion__item {
  color: #1b224c;
}

.qa .qaInner .qa__acordion .acordion__item .item__q {
  padding-right: 40px;
  height: 64px;
  font-weight: normal;
  border-top: 1px solid #1b224c;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.qa .qaInner .qa__acordion .acordion__item .item__q::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 20px;
  width: 2px;
  height: 32px;
  background-color: #1b224c;
}

.qa .qaInner .qa__acordion .acordion__item .item__q::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 5px;
  width: 32px;
  height: 2px;
  background-color: #1b224c;
}

.qa .qaInner .qa__acordion .acordion__item .item__q .q__text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-right: 64px;
}

.qa .qaInner .qa__acordion .acordion__item .item__a {
  background-color: #f8f8f8;
  padding-left: 27px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
}

.qa .qaInner .qa__acordion .acordion__item .item__a .a__text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-right: 40px;
}

.qa .qaInner .qa__acordion .acordion__item .js__action {
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.qa .qaInner .qa__acordion .acordion__item .js__is--open {
  height: 64px;
  padding-left: 27px;
  margin-bottom: 16px;
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (max-width: 375px) {
  .qa .qaInner .qa__acordion .acordion__item .js__is--open {
    height: 94px;
  }
}

.qa .qaInner .qa__acordion .acordion__item .js__is--active::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.blogNews {
  padding: 90px 32px 0 32px;
  margin: 0 auto;
  padding-bottom: 120px;
}

@media screen and (max-width: 600px) {
  .blogNews {
    padding-bottom: 32px;
  }
}

.blogNews .blogNewsInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .blogNews .blogNewsInner {
    display: block;
  }
}

.blogNews .blogNewsInner .h4-title {
  color: #1b224c;
  font-size: 3.2rem;
  line-height: 43px;
}

.blogNews .blogNewsInner .blogNewsInner__item {
  text-align: center;
}

.blogNews .blogNewsInner .blogNewsInner__item .blog__wrapper {
  max-width: 430px;
  margin-right: 32px;
}

@media screen and (max-width: 600px) {
  .blogNews .blogNewsInner .blogNewsInner__item .blog__wrapper {
    margin-right: 0;
  }
}

.blogNews .blogNewsInner .blogNewsInner__item .blog__wrapper .blogItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.blogNews .blogNewsInner .blogNewsInner__item .blog__wrapper .blogItem .blogItem__img {
  position: relative;
  margin-right: 20px;
  width: 150px;
  height: 110px;
}

.blogNews .blogNewsInner .blogNewsInner__item .blog__wrapper .blogItem .blogItem__img .img__badge {
  position: absolute;
  background-color: #1b224c;
  width: 78px;
  height: 23px;
  color: #fff;
  font-size: 1.2rem;
  line-height: 23px;
  padding-left: 4px;
}

.blogNews .blogNewsInner .blogNewsInner__item .blog__wrapper .blogItem .blogItem__text {
  text-align: left;
  position: relative;
  color: #1b224c;
  min-width: 100px;
}

.blogNews .blogNewsInner .blogNewsInner__item .blog__wrapper .blogItem .blogItem__text .text__title {
  display: inline;
  border-bottom: 1px solid #1b224c;
  line-height: 21px;
  font-weight: bold;
  margin-top: 3px;
}

.blogNews .blogNewsInner .blogNewsInner__item .blog__wrapper .blogItem .blogItem__text .text__date {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.2rem;
}

.blogNews .blogNewsInner .blogNewsInner__item .news__wrapper .newsItem {
  color: #1b224c;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 56px;
}

.blogNews .blogNewsInner .blogNewsInner__item .news__wrapper .newsItem .newsItem__date {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.blogNews .blogNewsInner .blogNewsInner__item .news__wrapper .newsItem .newsItem__title {
  display: inline;
  line-height: 27px;
  border-bottom: 1px solid #1b224c;
}

@media screen and (max-width: 600px) {
  .blogNews .blogNewsInner .news {
    margin-top: 32px;
  }
}

.toContact .toContact__img {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.toContact .toContact__img .toContact__img--s {
  width: 100%;
  height: 260px;
}

.toContact .toContact__img .toContactInner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .toContact .toContact__img .toContactInner {
    width: 320px;
  }
}

.toContact .toContact__img .toContactInner .toContact__btn {
  margin-top: 20px;
}

.toContact .toContact__img .toContactInner .toContact__contact {
  margin-top: 20px;
  border-bottom: 1px solid #fff;
  display: block;
  margin: 20px auto;
  width: 100px;
}

.toContact .toContact__address {
  padding-right: 32px;
  padding-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 900px;
  color: #1b224c;
  margin: 27px auto;
}

@media screen and (max-width: 600px) {
  .toContact .toContact__address {
    display: block;
  }
}

.toContact .toContact__address .address__text {
  margin-right: 36px;
}

@media screen and (max-width: 600px) {
  .toContact .toContact__address .address__text {
    margin-right: 0;
    text-align: center;
  }
}

.toContact .toContact__address .address__tel {
  font-size: 3.6rem;
  font-weight: bold;
  margin-right: 20px;
}

@media screen and (max-width: 650px) {
  .toContact .toContact__address .address__tel {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 600px) {
  .toContact .toContact__address .address__tel {
    margin-right: 0;
    text-align: center;
    margin-top: 16px;
  }
}

@media screen and (max-width: 600px) {
  .toContact .toContact__address .address__time {
    margin-right: 0;
    text-align: center;
    margin-top: 16px;
  }
}

.footer {
  background-color: #1b224c;
  color: #fff;
  padding-top: 36px;
  padding-bottom: 68px;
}

.footer .footerInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
}

.footer .footerInner .footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footerInner .footer__nav .nav__item {
  padding-right: 27px;
  padding-left: 27px;
  border-right: 1px solid #fff;
  line-height: 21px;
  height: 21px;
}

@media screen and (max-width: 375px) {
  .footer .footerInner .footer__nav .nav__item {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.footer .footerInner .info {
  margin-right: 64px;
}

@media screen and (max-width: 375px) {
  .footer .footerInner .info {
    margin-right: 16px;
  }
}

.footer .footerInner .info .info__logo {
  background-color: #fff;
  padding: 14px 18px;
}

.footer .footerInner .info .info__tel {
  margin-top: 27px;
  font-weight: bold;
  text-align: right;
}

.footer .footerInner .info .info__tel .tel__icon {
  margin-right: 3px;
  margin-bottom: 3px;
}

.footer .footerInner .info .info__time {
  margin-top: 14px;
  font-size: 1.2rem;
  text-align: right;
}

.copyright {
  width: 100%;
  color: #1b224c;
  font-size: 1.2rem;
  margin-top: 14px;
  margin-bottom: 10px;
}

.copyright .copyright__text {
  text-align: right;
}

.priceSystemTop .headerWrapper {
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  background-color: #fff;
  height: 80px;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 900px) {
  .priceSystemTop .headerWrapper .innerLeft {
    display: none;
  }
}

.priceSystemTop .headerWrapper .innerLeftSp {
  display: none;
}

@media screen and (max-width: 900px) {
  .priceSystemTop .headerWrapper .innerLeftSp {
    display: block;
  }
  .priceSystemTop .headerWrapper .innerLeftSp .nav__sp {
    background-color: #fff;
    position: fixed;
    width: 200px;
    top: 0;
    bottom: 0;
    left: -250px;
    padding: 40px 16px 0 16px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .priceSystemTop .headerWrapper .innerLeftSp .nav__sp .hamuburgerNav__text {
    text-align: center;
  }
  .priceSystemTop .headerWrapper .innerLeftSp .nav__sp .hamuburgerNav__text .hamuburgerNav__logo {
    width: 150px;
    text-align: center;
    margin: 64px auto 0;
  }
  .priceSystemTop .headerWrapper .innerLeftSp .nav__sp .hamuburgerNav__text .hamuburgerNav__item {
    margin-top: 40px;
    width: 150px;
    display: inline-block;
    text-align: center;
  }
}

.priceSystemTop .headerWrapper .innerLeftSp .fadein {
  -webkit-transform: translateX(250px);
  transform: taranslateX(250px);
  z-index: 5;
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.priceSystemTop .headerWrapper .innerLeftSp .target {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 25px;
  left: 30px;
  cursor: pointer;
  z-index: 12;
}

@media screen and (max-width: 964px) {
  .priceSystemTop .headerWrapper .innerLeftSp .target .target__inner .target__inner__line {
    position: fixed;
    width: 30px;
    height: 3px;
    background-color: #1b224c;
  }
}

@media screen and (max-width: 964px) {
  .priceSystemTop .headerWrapper .innerLeftSp .target .target__inner .target__inner__1 {
    top: 27px;
    left: 30px;
  }
}

@media screen and (max-width: 964px) {
  .priceSystemTop .headerWrapper .innerLeftSp .target .target__inner .target__inner__2 {
    top: 38px;
    left: 30px;
  }
}

@media screen and (max-width: 964px) {
  .priceSystemTop .headerWrapper .innerLeftSp .target .target__inner .target__inner__3 {
    top: 49px;
    left: 30px;
  }
}

.priceSystemTop .headerWrapper .innerLeftSp .target .target__inner .linea {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 38px;
}

.priceSystemTop .headerWrapper .innerLeftSp .target .target__inner .lineb {
  opacity: 0;
}

.priceSystemTop .headerWrapper .innerLeftSp .target .target__inner .linec {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 38px;
}

.priceSystemTop .headerWrapper .innerLeftSp .target .slidex {
  z-index: 20;
}

.priceSystemTop .headerWrapperInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.priceSystemTop .headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.priceSystemTop .headerNav .headerNav__item {
  margin-right: 40px;
}

.priceSystemTop .headerNav .headerNav__item:last-child {
  margin-right: 0;
}

.priceSystemTop .headerWrapper__logo {
  margin-right: 30px;
}

.priceSystemTop .innerRight {
  padding-bottom: 15px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.priceSystemTop .innerRight .headerInfo {
  vertical-align: bottom;
  height: 50px;
  margin-right: 25px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.priceSystemTop .innerRight .headerInfo .headerInfo__openingTime {
  font-size: 1.2rem;
}

.priceSystemTop .innerRight .headerInfo .headerInfo__tel {
  font-size: 1.6rem;
  font-weight: bold;
}

.priceSystemTop .innerRight .headerInfo .headerInfo__tel .tel-icon {
  margin-right: 3px;
  margin-bottom: 3px;
}

.priceSystemTop .innerRight .headerBtnWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 450px) {
  .priceSystemTop .innerRight .headerBtnWrapper {
    display: block;
    padding-top: 8px;
  }
}

@media screen and (max-width: 450px) {
  .priceSystemTop .innerRight .headerBtnWrapper .btn__square {
    margin-top: 8px;
    text-align: center;
  }
}

.priceSystemTop .innerRight .headerBtnWrapper .btn__square:last-child {
  margin-right: 0;
}

.priceSystemTop .priceSystemTop__img {
  margin-top: 80px;
  position: relative;
}

.priceSystemTop .priceSystemTop__img .subPage__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.priceSystemTop .priceSystemTop__img .priceSystemTop__img--s {
  width: 100%;
  height: 220px;
}

.priceSystemTop .breadcrumbs {
  height: 50px;
  background-color: #f8f8f8;
  padding-left: 190px;
  line-height: 50px;
}

@media screen and (max-width: 600px) {
  .priceSystemTop .breadcrumbs {
    padding-left: 32px;
  }
}

.priceSystem {
  padding: 60px 32px 0 32px;
}

.priceSystem .priceSystemInner {
  max-width: 900px;
  margin: 0 auto;
}

.priceSystem .priceSystemInner .priceSystem__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 56px;
}

@media screen and (max-width: 600px) {
  .priceSystem .priceSystemInner .priceSystem__box {
    display: block;
  }
}

.priceSystem .priceSystemInner .priceSystem__box .box__item {
  width: 280px;
  height: 90px;
  color: #fff;
  background-color: #1b224c;
  font-size: 22px;
  text-align: center;
  line-height: 90px;
  margin-right: 36px;
}

@media screen and (max-width: 600px) {
  .priceSystem .priceSystemInner .priceSystem__box .box__item {
    margin: 0 auto;
  }
}

.priceSystem .priceSystemInner .priceSystem__box .box__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 600px) {
  .priceSystem .priceSystemInner .priceSystem__box .box__item:last-child {
    margin: 0 auto;
  }
}

.priceSystem .priceSystemInner .priceSystem__box .box__plus {
  font-size: 36px;
  line-height: 90px;
  margin-right: 36px;
}

@media screen and (max-width: 600px) {
  .priceSystem .priceSystemInner .priceSystem__box .box__plus {
    text-align: center;
    margin-right: 0;
  }
}

.priceSystem .priceSystem__text {
  margin-top: 50px;
  color: #1b224c;
}

.price {
  padding: 100px 32px 0 32px;
}

.price .priceInner {
  max-width: 900px;
  margin: 0 auto;
}

.price .priceInner .price__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  margin-top: 96px;
}

.price .priceInner .price__box .box__item {
  text-align: center;
  width: 218px;
  margin-bottom: 60px;
  margin-right: 8px;
}

.price .priceInner .price__box .box__item:last-child {
  margin-right: 0;
}

.price .priceInner .price__box .box__item .item__title {
  width: 220px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #1b224c;
  color: #fff;
  margin: 0 auto;
}

.price .priceInner .price__box .box__item .itemInner {
  border: 1px solid #1b224c;
  width: 218px;
  height: 414px;
}

.price .priceInner .price__box .box__item .item__price {
  font-size: 25px;
  font-weight: bold;
  padding-top: 36px;
}

.price .priceInner .price__box .box__item .item__term {
  margin-top: 10px;
}

.price .priceInner .price__box .box__item .item__text {
  margin-top: 50px;
}

.price .priceInner .price__box .box__item .item__text .text__detail {
  margin-top: 20px;
}

.price .priceInner .price__box .pickUp__item {
  margin-top: -36px;
  border: none;
}

.price .priceInner .price__box .pickUp__item .pickUp--pop {
  color: #fff;
  background-color: #f5a623;
  width: 220px;
  height: 36px;
  line-height: 36px;
  text-align: center;
}

.price .priceInner .price__box .pickUp__item .pickUpInner {
  border-top: none;
}

.price .priceInner .price__box .pickUp__item .title--pickUp {
  background-color: #f5a623;
}

.toContact .toContact__img {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.toContact .toContact__img .toContact__img--s {
  width: 100%;
  height: 260px;
}

.toContact .toContact__img .toContactInner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .toContact .toContact__img .toContactInner {
    width: 320px;
  }
}

.toContact .toContact__img .toContactInner .toContact__btn {
  margin-top: 20px;
}

.toContact .toContact__img .toContactInner .toContact__contact {
  margin-top: 20px;
  border-bottom: 1px solid #fff;
  display: block;
  margin: 20px auto;
  width: 100px;
}

.toContact .toContact__address {
  padding-right: 32px;
  padding-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 900px;
  color: #1b224c;
  margin: 27px auto;
}

@media screen and (max-width: 600px) {
  .toContact .toContact__address {
    display: block;
  }
}

.toContact .toContact__address .address__text {
  margin-right: 36px;
}

@media screen and (max-width: 600px) {
  .toContact .toContact__address .address__text {
    margin-right: 0;
    text-align: center;
  }
}

.toContact .toContact__address .address__tel {
  font-size: 3.6rem;
  font-weight: bold;
  margin-right: 20px;
}

@media screen and (max-width: 650px) {
  .toContact .toContact__address .address__tel {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 600px) {
  .toContact .toContact__address .address__tel {
    margin-right: 0;
    text-align: center;
    margin-top: 16px;
  }
}

@media screen and (max-width: 600px) {
  .toContact .toContact__address .address__time {
    margin-right: 0;
    text-align: center;
    margin-top: 16px;
  }
}

.blogTop .headerWrapper {
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  background-color: #fff;
  height: 80px;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 900px) {
  .blogTop .headerWrapper .innerLeft {
    display: none;
  }
}

.blogTop .headerWrapper .innerLeftSp {
  display: none;
}

@media screen and (max-width: 900px) {
  .blogTop .headerWrapper .innerLeftSp {
    display: block;
  }
  .blogTop .headerWrapper .innerLeftSp .nav__sp {
    background-color: #fff;
    position: fixed;
    width: 200px;
    top: 0;
    bottom: 0;
    left: -250px;
    padding: 40px 16px 0 16px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .blogTop .headerWrapper .innerLeftSp .nav__sp .hamuburgerNav__text {
    text-align: center;
  }
  .blogTop .headerWrapper .innerLeftSp .nav__sp .hamuburgerNav__text .hamuburgerNav__logo {
    width: 150px;
    text-align: center;
    margin: 64px auto 0;
  }
  .blogTop .headerWrapper .innerLeftSp .nav__sp .hamuburgerNav__text .hamuburgerNav__item {
    margin-top: 40px;
    width: 150px;
    display: inline-block;
    text-align: center;
  }
}

.blogTop .headerWrapper .innerLeftSp .fadein {
  -webkit-transform: translateX(250px);
  transform: taranslateX(250px);
  z-index: 5;
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.blogTop .headerWrapper .innerLeftSp .target {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 25px;
  left: 30px;
  cursor: pointer;
  z-index: 12;
}

@media screen and (max-width: 964px) {
  .blogTop .headerWrapper .innerLeftSp .target .target__inner .target__inner__line {
    position: fixed;
    width: 30px;
    height: 3px;
    background-color: #1b224c;
  }
}

@media screen and (max-width: 964px) {
  .blogTop .headerWrapper .innerLeftSp .target .target__inner .target__inner__1 {
    top: 27px;
    left: 30px;
  }
}

@media screen and (max-width: 964px) {
  .blogTop .headerWrapper .innerLeftSp .target .target__inner .target__inner__2 {
    top: 38px;
    left: 30px;
  }
}

@media screen and (max-width: 964px) {
  .blogTop .headerWrapper .innerLeftSp .target .target__inner .target__inner__3 {
    top: 49px;
    left: 30px;
  }
}

.blogTop .headerWrapper .innerLeftSp .target .target__inner .linea {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 38px;
}

.blogTop .headerWrapper .innerLeftSp .target .target__inner .lineb {
  opacity: 0;
}

.blogTop .headerWrapper .innerLeftSp .target .target__inner .linec {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 38px;
}

.blogTop .headerWrapper .innerLeftSp .target .slidex {
  z-index: 20;
}

.blogTop .headerWrapperInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogTop .headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.blogTop .headerNav .headerNav__item {
  margin-right: 40px;
}

.blogTop .headerNav .headerNav__item:last-child {
  margin-right: 0;
}

.blogTop .headerWrapper__logo {
  margin-right: 30px;
}

.blogTop .innerRight {
  padding-bottom: 15px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.blogTop .innerRight .headerInfo {
  vertical-align: bottom;
  height: 50px;
  margin-right: 25px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.blogTop .innerRight .headerInfo .headerInfo__openingTime {
  font-size: 1.2rem;
}

.blogTop .innerRight .headerInfo .headerInfo__tel {
  font-size: 1.6rem;
  font-weight: bold;
}

.blogTop .innerRight .headerInfo .headerInfo__tel .tel-icon {
  margin-right: 3px;
  margin-bottom: 3px;
}

.blogTop .innerRight .headerBtnWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 450px) {
  .blogTop .innerRight .headerBtnWrapper {
    display: block;
    padding-top: 8px;
  }
}

@media screen and (max-width: 450px) {
  .blogTop .innerRight .headerBtnWrapper .btn__square {
    margin-top: 8px;
    text-align: center;
  }
}

.blogTop .innerRight .headerBtnWrapper .btn__square:last-child {
  margin-right: 0;
}

.blogTop .blogTop__img {
  margin-top: 80px;
  position: relative;
}

.blogTop .blogTop__img .subPage__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.blogTop .blogTop__img .blogTop__img--s {
  width: 100%;
  height: 220px;
}

.blogTop .breadcrumbs {
  height: 50px;
  background-color: #f8f8f8;
  padding-left: 190px;
  line-height: 50px;
}

@media screen and (max-width: 600px) {
  .blogTop .breadcrumbs {
    padding-left: 32px;
  }
}

.blogNew {
  padding: 60px 32px 54px 32px;
}

.blogNew .blogNewInner .blog__wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.blogNew .blogNewInner .blog__wrapper .blogItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

@media screen and (max-width: 725px) {
  .blogNew .blogNewInner .blog__wrapper .blogItem {
    display: block;
  }
}

.blogNew .blogNewInner .blog__wrapper .blogItem .blogItem__img {
  position: relative;
  margin-right: 20px;
  width: 240px;
  height: 150px;
}

.blogNew .blogNewInner .blog__wrapper .blogItem .blogItem__img .blogItem__img--s {
  width: 100%;
  height: 100%;
}

.blogNew .blogNewInner .blog__wrapper .blogItem .blogItem__img .img__badge {
  position: absolute;
  background-color: #1b224c;
  width: 78px;
  height: 23px;
  color: #fff;
  font-size: 1.2rem;
  line-height: 23px;
  padding-left: 4px;
}

.blogNew .blogNewInner .blog__wrapper .blogItem .blogItem__text {
  text-align: left;
  position: relative;
  color: #1b224c;
  min-width: 100px;
}

.blogNew .blogNewInner .blog__wrapper .blogItem .blogItem__text .text__title {
  display: inline;
  border-bottom: 1px solid #1b224c;
  line-height: 36px;
  font-weight: bold;
  margin-top: 3px;
  font-size: 26px;
}

@media screen and (max-width: 900px) {
  .blogNew .blogNewInner .blog__wrapper .blogItem .blogItem__text .text__title {
    font-size: 20px;
  }
}

.blogNew .blogNewInner .blog__wrapper .blogItem .blogItem__text .text__content {
  margin-top: 32px;
}

@media screen and (max-width: 900px) {
  .blogNew .blogNewInner .blog__wrapper .blogItem .blogItem__text .text__content {
    margin-top: 16px;
  }
}

.blogNew .blogNewInner .blog__wrapper .blogItem .blogItem__text .text__date {
  margin-top: 8px;
  margin-bottom: 32px;
  font-size: 1.2rem;
}

@media screen and (max-width: 900px) {
  .blogNew .blogNewInner .blog__wrapper .blogItem .blogItem__text .text__date {
    margin-bottom: 16px;
  }
}

.blogNew .blogNewInner .pnavi {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blogNew .blogNewInner .pnavi .page-numbers {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #1b224c;
  margin-right: 16px;
}

@media screen and (max-width: 375px) {
  .blogNew .blogNewInner .pnavi .page-numbers {
    width: 32px;
    margin-right: 8px;
  }
}

.blogNew .blogNewInner .pnavi .current {
  background-color: #1b224c;
  color: #fff;
}

.blogNew .blogNewInner .pnavi .prev {
  border: none;
}

.blogNew .blogNewInner .pnavi .next {
  border: none;
  line-height: 20px;
  margin-top: 20px;
}

.blogNew .blogNewInner .pnavi .dots {
  border: none;
}
/*# sourceMappingURL=style.css.map */