//style.scss

@charset "utf-8";

@import "_reset.scss"; // ここでリセットCSS(SCSS)を呼び出す。
@import "_base.scss"; // 基本設定のCSS(SCSS)を呼び出す。
@import "_header.scss"; // ファーストビュー）CSS(SCSS)を呼び出す。
@import "firstView"; // ファーストビューCSS(SCSS)を呼び出す。
@import "_issue.scss"; // イシューCSS(SCSS)を呼び出す。
@import "_strongPoint.scss"; // ストロングポイントCSS(SCSS)を呼び出す。
@import "_toPrice.scss"; // 料金表へCSS(SCSS)を呼び出す。
@import "_successCase.scss"; // 成功事例CSS(SCSS)を呼び出す。
@import "_flow.scss"; // フローCSS(SCSS)を呼び出す。
@import "_qa.scss"; // Q&A CSS(SCSS)を呼び出す。
@import "_blogNews.scss"; // ブログとニュースCSS(SCSS)を呼び出す。
@import "_toContact.scss"; // 資料請求CSS(SCSS)を呼び出す。
@import "_footer.scss"; // フッターCSS(SCSS)を呼び出す。
@import "_copyright.scss"; // コピーライトCSS(SCSS)を呼び出す。

//priceSystem
@import "../priceSystemTemplates/css/_priceSystemTop.scss"; // 料金体系トップCSS(SCSS)を呼び出す。
@import "../priceSystemTemplates/css/_priceSystem.scss"; // 料金体系CSS(SCSS)を呼び出す。
@import "../priceSystemTemplates/css/_price.scss"; // 料金CSS(SCSS)を呼び出す。
@import "../priceSystemTemplates/css/_toContact.scss"; // 資料請求CSS(SCSS)を呼び出す。

//blog
@import "../blogTemplates/css/_blogTop.scss"; // ブログトップCSS(SCSS)を呼び出す。
