@charset "UTF-8";
/* ==========ここからリセットCSS============= */
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
  /* Document */
  /* ============================================ */
  /**
         * 1. Correct the line height in all browsers.
         * 2. Prevent adjustments of font size after orientation changes in iOS.
         * 3. Remove gray overlay on links for iOS.
         */
  /* Sections */
  /* ============================================ */
  /**
         * Remove the margin in all browsers.
         */
  /**
         * Render the `main` element consistently in IE.
         */
  /* Vertical rhythm */
  /* ============================================ */
  /* Headings */
  /* ============================================ */
  /* Lists (enumeration) */
  /* ============================================ */
  /* Lists (definition) */
  /* ============================================ */
  /* Grouping content */
  /* ============================================ */
  /**
         * 1. Add the correct box sizing in Firefox.
         * 2. Show the overflow in Edge and IE.
         */
  /**
         * 1. Correct the inheritance and scaling of font size in all browsers.
         * 2. Correct the odd `em` font sizing in all browsers.
         */
  /* Text-level semantics */
  /* ============================================ */
  /**
         * Remove the gray background on active links in IE 10.
         */
  /**
         * 1. Remove the bottom border in Chrome 57-
         * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
         */
  /**
         * Add the correct font weight in Chrome, Edge, and Safari.
         */
  /**
         * 1. Correct the inheritance and scaling of font size in all browsers.
         * 2. Correct the odd `em` font sizing in all browsers.
         */
  /**
         * Add the correct font size in all browsers.
         */
  /**
         * Prevent `sub` and `sup` elements from affecting the line height in
         * all browsers.
         */
  /* Embedded content */
  /* ============================================ */
  /**
         * Prevent vertical alignment issues.
         */
  /* Forms */
  /* ============================================ */
  /**
         * Reset form fields to make them styleable
         */
  /**
         * Reset radio and checkbox appearance to preserve their look in iOS.
         */
  /**
         * Show the overflow in IE.
         * 1. Show the overflow in Edge.
         */
  /**
         * Remove the inheritance of text transform in Edge, Firefox, and IE.
         * 1. Remove the inheritance of text transform in Firefox.
         */
  /**
         * Correct the inability to style clickable types in iOS and Safari.
         */
  /**
         * Remove the inner border and padding in Firefox.
         */
  /**
         * Restore the focus styles unset by the previous rule.
         */
  /**
         * Remove arrow in IE10 & IE11
         */
  /**
         * Remove padding
         */
  /**
         * Reset to invisible
         */
  /**
         * 1. Correct the text wrapping in Edge and IE.
         * 2. Correct the color inheritance from `fieldset` elements in IE.
         * 3. Remove the padding so developers are not caught out when they zero out
         *    `fieldset` elements in all browsers.
         */
  /**
         * Add the correct vertical alignment in Chrome, Firefox, and Opera.
         */
  /**
         * Remove the default vertical scrollbar in IE 10+.
         */
  /**
         * Correct the cursor style of increment and decrement buttons in Chrome.
         */
  /**
         * 1. Correct the outline style in Safari.
         */
  /**
         * Remove the inner padding in Chrome and Safari on macOS.
         */
  /**
         * 1. Correct the inability to style clickable types in iOS and Safari.
         * 2. Change font properties to `inherit` in Safari.
         */
  /**
         * Clickable labels
         */
  /* Interactive */
  /* ============================================ */
  /*
         * Add the correct display in Edge, IE 10+, and Firefox.
         */
  /*
         * Add the correct display in all browsers.
         */
  /*
         * Remove outline for editable content.
         */
  /* Table */
  /* ============================================ */
  /* Misc */
  /* ============================================ */
  /**
         * Add the correct display in IE 10+.
         */
  /**
         * Add the correct display in IE 10.
         */
}

html ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

html body {
  margin: 0;
}

html main {
  display: block;
}

html p,
html table,
html blockquote,
html address,
html pre,
html iframe,
html form,
html figure,
html dl {
  margin: 0;
}

html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

html ul,
html ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

html dt {
  font-weight: bold;
}

html dd {
  margin-left: 0;
}

html hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

html pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

html address {
  font-style: inherit;
}

html a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

html abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

html b,
html strong {
  font-weight: bolder;
}

html code,
html kbd,
html samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

html small {
  font-size: 80%;
}

html sub,
html sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

html sub {
  bottom: -0.25em;
}

html sup {
  top: -0.5em;
}

html img,
html embed,
html object,
html iframe {
  vertical-align: bottom;
}

html button,
html input,
html optgroup,
html select,
html textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

html [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

html [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

html button,
html input {
  /* 1 */
  overflow: visible;
}

html button,
html select {
  /* 1 */
  text-transform: none;
}

html button,
html [type="button"],
html [type="reset"],
html [type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

html button[disabled],
html [type="button"][disabled],
html [type="reset"][disabled],
html [type="submit"][disabled] {
  cursor: default;
}

html button::-moz-focus-inner,
html [type="button"]::-moz-focus-inner,
html [type="reset"]::-moz-focus-inner,
html [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

html button:-moz-focusring,
html [type="button"]:-moz-focusring,
html [type="reset"]:-moz-focusring,
html [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

html select::-ms-expand {
  display: none;
}

html option {
  padding: 0;
}

html fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

html legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

html progress {
  vertical-align: baseline;
}

html textarea {
  overflow: auto;
}

html [type="number"]::-webkit-inner-spin-button,
html [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

html [type="search"] {
  outline-offset: -2px;
  /* 1 */
}

html [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

html ::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

html label[for] {
  cursor: pointer;
}

html details {
  display: block;
}

html summary {
  display: list-item;
}

html [contenteditable] {
  outline: none;
}

html table {
  border-collapse: collapse;
  border-spacing: 0;
}

html caption {
  text-align: left;
}

html td,
html th {
  vertical-align: top;
  padding: 0;
}

html th {
  text-align: left;
  font-weight: bold;
}

html template {
  display: none;
}

html [hidden] {
  display: none;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}
/*# sourceMappingURL=style.css.map */