//to-contact.scss

.toContact {
  .toContact__img {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;

    .toContact__img--s {
      width: 100%;
      height: 260px;
    }

    .toContactInner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      text-align: center;
      width: 500px;
      @media screen and(max-width:650px) {
        width: 320px;
      }

      .toContact__btn {
        margin-top: 20px;
      }
      .toContact__contact {
        margin-top: 20px;
        border-bottom: 1px solid #fff;
        display: block;
        margin: 20px auto;
        width: 100px;
      }
    }
  }
  .toContact__address {
    padding-right: 32px;
    padding-left: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 900px;
    color: #1b224c;
    margin: 27px auto;
    @media screen and(max-width:600px) {
      display: block;
    }
    .address__text {
      margin-right: 36px;
      @media screen and(max-width:600px) {
        margin-right: 0;
        text-align: center;
      }
    }
    .address__tel {
      font-size: 3.6rem;
      font-weight: bold;
      margin-right: 20px;
      @media screen and(max-width:650px) {
        font-size: 2.4rem;
      }
      @media screen and(max-width:600px) {
        margin-right: 0;
        text-align: center;
        margin-top: 16px;
      }
    }
    .address__time {
      @media screen and(max-width:600px) {
        margin-right: 0;
        text-align: center;
        margin-top: 16px;
      }
    }
  }
}
